.container{
    background: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 20px;
   

   
}
.tit{
    text-align: center;
    margin: 30px; 
   

}
  
   


.container p{
    margin: 20px;
   text-align: justify;
}
.container img{
    border-radius: 10px;
    padding: 5px;
}
.imgf{
    margin-top: 5px;
}
.container video{
    border-radius: 5px;
    
}
.card{
    padding: 10px;
    
}